src/__pycache__/
try/

src/mulit
src/result.qasm
test/square_bench/__pycache__/*
.vscode/
src/output/
src/out.c
src/preout
src/preout1
Expressions
__pycache__/
src/parsetab.py
src/parser.out
src/oldversion/
doc/eval/
Fixed-choice_MQCC
test/openqasm/
src/pretest
src/grammer/
test/square_bench/
test/arith_bench/
src/testfiles/
runtest.sh
